<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Duke Data Service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duke Data Service</title>
    <link rel="stylesheet" href="<%= @asset_path -%>lib/framework7.material.min.css"/>
    <link rel="stylesheet" href="<%= @asset_path -%>lib/framework7.material.colors.min.css"/>
    <link rel="stylesheet" href="<%= @asset_path -%>css/main.css">
    <link rel="stylesheet" href="<%= @asset_path -%>css/main_ext.css">
    <link rel="icon" href="<%= @asset_path -%>images/fav.png" type="image/png" />
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <script src="<%= @asset_path -%>lib/md5.js"></script>
    <script src="<%= @asset_path -%>lib/lib-typedarrays-min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <script type="text/javascript">
        var DDS_PORTAL_CONFIG = {
            serviceId: '<%= @serviceID -%>',
            baseUrl: '<%= @baseUrl -%>',
            authServiceUri: '<%= @authServiceUri -%>',
            authServiceName: '<%= @authServiceName -%>',
            securityState:'<%= @securityState -%>',
            environment:'<%= @environment -%>'
        };
    </script>
</head>
<body>
<div class="mdl-grid project-list-grid">
    <script type="text/javascript">
        // Force `fetch` polyfill to workaround Chrome not displaying request body
        // in developer tools for the native `fetch`.
        self.fetch = null;
    </script>
    <script src="<%= @asset_path -%>lib/fetch.js"></script>
    <script type="text/javascript" src="<%= @asset_path -%>lib/framework7.min.js"></script>
    <script src="<%= @asset_path -%>js/main.js"></script>
</div>
<script type="text/javascript">
    (function() {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = '//api.usersnap.com/load/'+
                '96becafa-8f00-4f58-a27c-2d0ebfc7c4b9.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
</script>
</body>
</html>