<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Duke Data Service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duke Data Service</title>
    <link rel="stylesheet" href="<%= @asset_path -%>lib/framework7.material.min.css"/>
    <link rel="stylesheet" href="<%= @asset_path -%>lib/framework7.material.colors.min.css"/>
    <link rel="stylesheet" href="<%= @asset_path -%>css/main.css">
    <link rel="stylesheet" href="<%= @asset_path -%>css/main_ext.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <script type='text/javascript'>
    var DDS_PORTAL_CONFIG = {
        serviceId: '<%= @serviceID -%>',
        baseUrl: '<%= @baseUrl -%>',
        authServiceUri: '<%= @authServiceUri -%>',
        authServiceName: '<%= @authServiceName -%>',
        securityState:'<%= @securityState -%>'
    };

    if (DDS_PORTAL_CONFIG.stack != 'production') {
        (function (d, t) {
            var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
            bh.type = 'text/javascript';
            bh.src = '//www.bugherd.com/sidebarv2.js?apikey=zhcaqqrxbp37fy04xao8yg';
            s.parentNode.insertBefore(bh, s);
        })(document, 'script');
    }
    </script>
</head>
<body>
<div class="mdl-grid project-list-grid">
    <script type="text/javascript">
        // Force `fetch` polyfill to workaround Chrome not displaying request body
        // in developer tools for the native `fetch`.
        self.fetch = null;
    </script>
    <script src="<%= @asset_path -%>lib/fetch.js"></script>
    <script type="text/javascript" src="<%= @asset_path -%>lib/framework7.min.js"></script>
    <script src="<%= @asset_path -%>js/main.js"></script>
</div>
</body>
</html>